@model GameX.ViewModel.EventViewModel
@{
    ViewData["Title"] = "Index";
}
<style>
</style>

<div class="table">
    <div style="order:0;" class="table-cell table-cell--head"><h3>Nazwa</h3></div>
    <div style="order:0;" class="table-cell table-cell--head"><h3>Miasto</h3></div>
    <div style="order:0;" class="table-cell table-cell--head"><h3>Adres</h3></div>
    <div style="order:0;" class="table-cell table-cell--head"><h3>Data</h3></div>
    @foreach (var Event in Model.Events)
    {
       



            <div  class="table-cell">@Event.Name</div>
            @*<div style="order:2;" class="table-cell">2</div>*@
            <div class="table-cell">@Event.EventAdress.City</div>
            <div  class="table-cell">@Event.EventAdress.Street @Event.EventAdress.HouseNumber</div>
            <div  class="table-cell">@Event.Date</div>
        
    }

</div>




