@model GameX.ViewModel.SignUpViewModel
@{
    ViewData["Title"] = "UserPage";
}

<h2>UserPage  <i class="fas fa-user"></i></h2>
<br/><br/><br/>

<div class="userPage">


    Email:
    <div class="userPage__item">@Model.Email</div><br/>

    Name:
    <div class="userPage__item">@Model.Name</div><br/>

    Password:
    <div class="userPage__item">@Model.Password</div><br/>

    Surname:
    <div class="userPage__item">@Model.Surname</div><br/>

    Username:
    <div class="userPage__item">@Model.Username</div><br/>


</div>





